@font-face {
    font-family: 'Bai Jamjuree';
    src: url('fonts/BaiJamjuree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Colors
cMainGreen = #34bf4e
cDarkGreen = #24984b

html
  height 100%
  background-color #eee
  font-size 15px
  font-family sans-serif
body
  height 100%
  margin 0
  display grid
  grid-template-rows auto 1fr auto
  grid-template-areas "topBar"\
    "listConstainer"\
    "addProduct"
#topBar
  grid-area topBar
  background-color cMainGreen
  font-size 2.5rem
  color #fff
  font-family Bai Jamjuree
  box-shadow 0px 0 3px #000
#title
  float left
  padding 0.4rem 1rem
  text-shadow 0px 0px 6px #000
#thisMonth
  float right
  padding 0.4rem 1rem
  background-color cDarkGreen
  text-shadow 0px 0px 6px #000
#month
  text-transform: capitalize
#addProduct
  position: absolute;
  bottom: 0;
  grid-area addProduct
  width 100%
  background-color #333
  box-shadow 0px 0 3px #000
  form
    display grid
    grid-template-columns auto auto 1fr auto
    grid-template-areas "addName addName addName addName"\
    "addQuantity addX addPrice addButton"
  input
    font-size 1.8rem
    text-align center
    color #fff
    background none
    padding: 0.8rem
    border none
    // margin 0.5rem
    &:focus
      outline none
  span
    grid-area addX
    color #fff
    padding 0.8rem 0 0 1rem
    font-size 1.5rem
#addProductName
  grid-area addName
  background-color #222 !important;
#addProductQuantityBox
  grid-area addQuantity
  display inline-flex
#quantityMinus, #quantityPlus
  width 3.5rem
  color #fff
  font-size 2rem
  cursor pointer
  text-align center
  padding-top 0.6rem
  user-select none
#quantityMinus
  background-color #be0000;
#quantityPlus
  background-color cMainGreen;
#addProductQuantity
  width 2rem
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
    -webkit-appearance: none;
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
  -webkit-text-fill-color: #fff;
  transition: background-color 9000s cubic-bezier(1, 0, 1, 0) 0s;
#addProductPrice
  grid-area addPrice
#add
  grid-area addButton
  cursor pointer
  color #fff
  background-color cDarkGreen !important
  width 4rem
  margin 0 !important
  &:hover
    background-color cMainGreen !important
    box-shadow none
#listContainer
  grid-area listConstainer
  color #111
  overflow-y scroll
  // padding 0.5rem 0
  margin-bottom 7rem
.product
  display grid
  grid-template-columns auto auto 1fr auto
  grid-template-areas "itemProduct itemProduct itemProduct itemProduct itemValue"\
  "itemQuantity itemTimes itemPrice . itemValue"
  padding: 0.5rem 1rem
  &:nth-child(even)
    background-color #ddd
.name, .value
  grid-area itemProduct
  font-size 1.8rem
.quantity, .times, .price
  font-size 1rem
  color #555
.quantity
  grid-area itemQuantity
.times
  grid-area itemTimes
  margin 0 0.2rem
.price
  grid-area itemPrice
.value
  grid-area itemValue
  align-self center
.monthDivider
  font-size 1rem
  padding: 0.3rem 1rem
  color #fff
  text-align: left
  background-color #47584b
